<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="LocalNugets" value="\\scratch2\scratch\sijliu\katanaSampleFeed" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="AzureAd Nightly" value="https://www.myget.org/F/azureadwebstacknightly/" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet official package source" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>